.accountCreationLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  label {
    cursor: pointer;
  }

  img {
    width: 50%;
  }

  > button {
    cursor: pointer;
    padding: 0.25em 0.5em;
    color: #999;
    background-color: #eee;
    border: none;
    border-radius: 10px;
  }

  .createTitle {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.accountCreationContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 2rem 1.25rem;
  background-color: white;

  h2 {
    width: 100%;
    font-size: 1.75rem;
    font-weight: 500;
    color: #1d0042;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input,
    button {
      margin: 0.5rem 0;
      border: none;
      border-radius: 10px;
      outline: none;
    }

    input {
      padding: 1rem 0.5rem;
      color: #999;
      background-color: #eee;

      &:focus {
        color: black;
      }
    }

    button {
      cursor: pointer;
      width: 100%;
      margin-top: 6rem;
      padding: 1em 0.5em;
      font-size: 1.25rem;
      font-weight: 800;
      color: white;
      background-color: #882bff;
    }
  }

  .check {
    margin: 0.25em 0;
    text-align: left;

    svg {
      margin-right: 1rem;
      vertical-align: middle;
    }

    .svgIsNotClicked {
      fill: white;
      filter: drop-shadow(0 1px 1px hsl(215, 41%, 21%, 0.35));
    }

    .svgIsClicked {
      fill: #50d3c4;
    }
  }
}

#walk,
#disabilities {
  display: none;
}
