// HomeLayout

.homeLayout {
  height: 100vh;
  background: linear-gradient(
    145deg,
    rgba(98, 113, 253, 0.2) 0%,
    rgba(204, 121, 255, 0.2) 20%
  );
  overflow-x: scroll;
}

// Mainpage

.homepage {
  height: 100%;
  padding: 80px 0;
}

