// UserAccount

.userAccountContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  min-height: 100%;
  padding: 2em;
  background-color: white;
  overflow: hidden;

  .options {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1em 0;
    font-size: 1.125rem;
    background-color: transparent;
    border: none;

    svg {
      margin-right: 1em;
      fill: #882bff;
      filter: drop-shadow(0 2px 4px hsla(0, 0%, 0%, 0.1));
    }
  }
}
