@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
  position: relative;
  overflow: hidden;
}

.notFoundContainer {
  height: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: linear-gradient(
    145deg,
    rgba(71, 79, 255, 0.9) 0%,
    rgba(89, 84, 249, 0.9) 10%,
    rgba(227, 122, 204, 1) 100%
  );

  div {
    font-size: clamp(1rem, 4vw, 1.75rem);
  }

  img {
    width: clamp(1rem, 80vw, 25rem);
  }

  button {
    cursor: pointer;
    width: clamp(250px, 70%, 350px);
    margin-inline: auto;
    padding: 1em;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #882bff;
    border: none;
    border-radius: 10px;
    outline: none;
  }
}

.error {
  font-size: 1.5rem;
  color: #e7195a;
  background-color: #ffefef;
  border: 5px double #e7195a;
  border-radius: 10px;
}
